<h1>Administrators Control Page</h1>

<%= link_to "Create a new user",new_admin_user_path, action: :new %>
<% @users.each do |user| %>
<li><%= user.email %></li>
<li><%= user.created_at %></li>
<li><%= user.admin.to_s %></li>
<%= link_to "Delete User", admin_user_path(user), method: :delete %>
<%= link_to "Update User", edit_admin_user_path(user)  %>

<hb>
<% end%>
